<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Beverages Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Beverages Management System</h1>
    <hr>
    <h3>Status Information</h3>
    <hr>
    <br>
    <br>
    <div>
        <p> Operation is unsuccessful. Please try again</p>
    </div>
    <a th:href = "@{/beverages}"> Back to Beverages List</a>
</div>
</body>
</html>

